* {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #545566;
  background-color: #f9f9f7;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30%;
}

.grid {
  height: 600px;
  width: 700px;
}

img {
  height: 110px;
  width: 150px;
}
